body {
  margin: 5px;
  padding: 5% auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  text-align: center;
  height: 90vh;
  font-size: 3rem;
  /* background-color: rgb(255, 255, 255); */
}
.background {
  height: 90vh;
  background-image: url("../src/images/iron2.jpg");
  background-position: center;
  background-size: cover;
  opacity: 3;
  border-radius: 10px;
  margin-bottom: 20px;
}
.background h1 {
  color: rgb(255, 136, 1);

  text-align: center;
}
.nav-link{
  
  display: block;
  color: rgb(255, 121, 12) !important;
  font-family: 'Roboto Mono', monospace;
}
.nav-link:hover{
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10px !important;
  color: white !important;
  
}

.background p {
  
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.ptanhi {
  height: 70vh;
  background-color: burlywood;
}
.Footer {
  height: 40vh;
  background-color: rgb(73, 72, 72);
}

.Icons label {
  margin: 20px;
  padding: 30px;
}
.Icons label i {
  cursor: pointer;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  align-items: center;
  padding: 12px;
}

.navbar {
  border-radius: 10px;
  
  background-image: linear-gradient(
    to right,
    rgba(8, 8, 8, 0),
    rgb(253, 173, 0)
  );
}
.carousel img {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-outline {
  margin-top: 30px;
}
.navbar-nav {
  margin-left: auto !important;
}
.card {
  margin-top: 20px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.card img {
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  h2 {
    /* background-color: rgb(218, 218, 218); */
    display: block;
    color: rgb(255, 0, 0);
    font-size: 1em;
  }
  .Icons {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }

  .Icons label {
    margin: 0px;
    padding: 18px;
    align-items: center;
  }
  .Icons label i {
    cursor: pointer;
  }
  .nav-link{
    text-align: center !important;
  }
}
@media only screen and (min-width: 600px){
  .nav-link{
    text-align: center;
  }
}